<!DOCTYPE html>
<html ng-app="chezYenApp">
<head>
	<meta charset="ISO-8859-1">
	<title>Gestion des clients</title>
	<link type="text/css" rel="stylesheet" href="../css/bootstrap.css" />
	<link type="text/css" rel="stylesheet" href="../css/bootstrap-theme" />
	<link type="text/css" rel="stylesheet" href="../css/gestion_clients.css" />
	<script type="text/javascript" src="../js/jquery-2.2.0.js"></script>
	<script type="text/javascript" src="../js/angular.js"></script>
	<script type="text/javascript" src="../js/angular-route.js"></script>
	<script type="text/javascript" src="../js/gestion_clients.js"></script>
	<script type="text/javascript" src="../js/productController.js"></script>
	<script type="text/javascript" src="../js/chezYenDirective.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
	
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css">

</head>
<body>
	<nav class="navbar navbar-inverse">
		<div class="container-fluid">
			<ul class="nav navbar-nav navbar-left">
				<li class="active"><a href="index.html"><img src="../images/logo.jpg" class="img-responsive center-block"/></a></li>
			</ul>
			<span style="text-align:center">
				<span style="text-align:center"><a href="index.html" style="color:yellow;">ACCEUIL</a></span>
				<span style="text-align:center; color:yellow;"> / </span>
				<span style="text-align:center"><a href="index.html" style="color:yellow;">GESTION CLIENTS</a></span>
			</span>
			<ul class="nav navbar-nav navbar-right">
				<li class="active"><a href="index.html"><img src="../images/logo.jpg" class="img-responsive center-block"/></a></li>
			</ul>
		 </div>
	</nav>
	<div class="container">
		<div class="row">
		</div>
		<div class="row">
			<div class="col-sm-1">
			</div>
			<div class="col-sm-10">
				<button class="btn">Nouveau client</button>
			</div>
			<div class="col-sm-1">
			</div>
		</div>
		<div class="row">
			<div class="col-sm-1">
			</div>
			<div class="col-sm-10"  ng-controller="clientCtrl">
				<table class="table table-striped">
					<thead>
						<tr>
							<th>Nom</th>
							<th>Prénom</th>
							<th>Adresse</th>
							<th>actions</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="client in clients">
							<td>{{client.nom}}</td>
							<td>{{client.prenom}}</td>
							<td>{{client.adresse.numeroVoie + ", " +
								 client.adresse.typeVoie + " " + 
								 client.adresse.nomVoie + " " + 
								 client.adresse.codePostal + " " + 
								 client.adresse.ville}}
							 </td>
							<td>
								<button class="btn btn-default" ng-click="modifierClient(client.id)">Modifier</button>
								<button class="btn btn-danger" ng-click="supprimerClient(client.id)">Supprimer</button>
							</td>
						</tr>
				</table>
			</div>
			<div class="col-sm-1">
			</div>
		</div>
	</div>
</body>
</html>