<!DOCTYPE html>
<html ng-app="chezYenApp">
<head>
	<meta charset="ISO-8859-1">
	<title>Gestion des produits</title>
	<link type="text/css" rel="stylesheet" href="../css/bootstrap.css" />
	<link type="text/css" rel="stylesheet" href="../css/bootstrap-theme" />
	<link type="text/css" rel="stylesheet" href="../css/header.css" />
	<script type="text/javascript" src="../js/jquery-2.2.0.js"></script>
	<script type="text/javascript" src="../js/angular.js"></script>
	<script type="text/javascript" src="../js/angular-route.js"></script>
	<script type="text/javascript" src="../js/gestion_produits.js"></script>
	<script type="text/javascript" src="../js/chezYenDirective.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
	
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css">
	<link type="text/css" rel="stylesheet" href="../css/gestion_produits.css" />
	
	<script>
		$(document).ready(function() {
			$("#nouveauProduit").on('click', function() {
				$("#panelNouveauProduit").slideToggle(600);
			});
		});
	</script>
</head>
<body>
	<div id="chezYenBar">
		<img id="left" src="../images/logo_stylise.png" class="img-responsive center-block"/>
		<div id="center">
			<h3 style="color:#fff8d7;"><a style="color:#fff8d7;" href="../index.html">ACCEUIL</a> / GESTION PRODUITS</h3>
		</div>
		<img id="right" src="../images/logo_stylise.png" class="img-responsive center-block"/>
	</div>
	<div class="container" ng-controller="produitCtrl">
		<div id="fisrtRow" class="row">
			<div class="col-sm-12" style="padding-right: 30px;">
				<div id="nouveauProduit" style="text-align: center;">Créer un nouveau produit</div>
				<div id="panelNouveauProduit">
					<div class="encadre" style="height: 120px; min-width: 600px;">
						<div style="text-align: center;">
							<label style="color: #c7b988;">Produit</label><br />
						</div>
						<div>
							<div id="tablesInlineBlock" style="width: 40%;">
								<div id="tablesBlock">
									<label>Désignation</label>
								</div>
								<div id="tablesBlock" style="min-width: 270px;">
									<input id="nouveauProduitDesignation" type="text" class="form-control"
										ng-model="produit_designation" style="width: 300px;" />
								</div>
							</div>
							<div id="tablesInlineBlock" style="width: 30%;">
								<div id="tablesBlock">
									<label>Prix</label>
								</div>
								<div id="tablesBlock" style="min-width: 270px;">
									<input id="nouveauProduitPrix" type="number" class="form-control"
										ng-model="produit_prix" style="width: 200px;" />
								</div>
							</div>
							<div id="tablesInlineBlock" style="width: 29%;">
								<div id="tablesBlock">
									<label>Stock</label>
								</div>
								<div id="tablesBlock" style="min-width: 270px;">
									<input id="nouveauProduitStock" type="number" class="form-control"
										ng-model="produit_stock" maxlength=4 style="width: 100px;" />
								</div>
							</div>
						</div>
					</div>
					<span class="input-group-btn">
						<button class="btn btn-default"
							ng-click="nouveau_produit(produit_designation, produit_prix, produit_stock);">
							Ajouter produit</button>
					</span>
				</div>
				<table id="tableProduits" class="table table-striped">
					<thead>
						<tr>
							<th>Désignation</th>
							<th>Prix</th>
							<th>Stock</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="produit in produits">
							<td style="display: none;" ng-model="idProduit">{{produit.idProduit}}</td>
							<td>{{erreurs.message}}{{produit.designation}}</td>
							<td>{{produit.prix}}</td>
							<td>{{produit.stock}}</td>
							<td>
								<button class="btn btn-default"
									ng-click="modifier_produit(produit.idProduit)">Modifier</button>
								<button class="btn btn-danger"
									ng-click="supprimer_produit(produit.idProduit);">Supprimer</button>
							</td>
						</tr>
				</table>
			</div>
		</div>
		
		<div id="popUpModif" class="popup_block" ng-model="produitModif">
			<div style="text-align: center;">
				<label style="color: #c7b988;">Produit</label><br />
			</div>
			<div>
				<div id="tablesInlineBlock" style="width: 49%;">
					<div id="tablesBlock" style="display: none">
						<input type="text" class="form-control"
							ng-model="produitModif.idProduit" style="width: 200px;" />
					</div>
					<div id="tablesBlock">
						<label>Désignation</label>
					</div>
					<div id="tablesBlock" style="min-width: 270px;">
						<input type="text" class="form-control" ng-model="produitModif.designation"
							style="width: 200px;" value="" />
					</div>
				</div>
				<div id="tablesInlineBlock" style="width: 50%;">
					<div id="tablesBlock">
						<label>Prix</label>
					</div>
					<div id="tablesBlock" style="min-width: 250px;">
						<input type="text" class="form-control"
							ng-model="produitModif.prix" style="width: 200px;" />
					</div>
				</div>
			</div>
			
			<div style="margin-top: 15px">
				<span class="input-group-btn">
					<button id="validerModifProduit" class="btn btn-success"
						ng-click="valider_modification(
					        				produitModif.idProduit,
					        				produitModif.designation,
					        				produitModif.prix, 
					        				produitModif.stock);">
						Valider</button>
					<button id="annulerModif" class="btn btn-warning"
						style="margin-left: 15px">Annuler</button>
				</span>
			</div>
	</div>
</body>
</html>