<!DOCTYPE html>
<html ng-app="chezYenApp">
<head>
	<meta charset="UTF-8">
	<title>Gestion des produits conditionnés</title>
	
	<link type="text/css" rel="stylesheet" href="../css/bootstrap.css" />
	<link type="text/css" rel="stylesheet" href="../css/bootstrap-theme" />
	<link type="text/css" rel="stylesheet" href="../css/header.css" />
	<script type="text/javascript" src="../js/jquery-2.2.0.js"></script>
	<script type="text/javascript" src="../js/angular.js"></script>
	<script type="text/javascript" src="../js/angular-route.js"></script>
	<script type="text/javascript" src="../js/gestion_produits_conditionnes.js"></script>
	<script type="text/javascript" src="../js/chezYenDirective.js"></script>
	<script
		src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	<script
		src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
	
	<link rel="stylesheet"
		href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
	<link rel="stylesheet"
		href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css">
	<link type="text/css" rel="stylesheet" href="../css/gestion_produits_conditionnes.css"/>
	<script>
		$(document).ready(function(){
			$(nouveauProduitConditionne).on('click', function() {
				$('#panelNouveauProduitConditionne').slideToggle(600);
			});
		});
	</script>
</head>
<body>
	<div id="chezYenBar">
		<img id="left" src="../images/logo_stylise.png" class="img-responsive center-block"/>
		<div id="center">
			<h3 style="color: #fff8d7;">
				<a style="color: #fff8d7;" href="../index.html">ACCEUIL</a> / GESTION DES PRODUITS CONDITIONNES
			</h3>
		</div>
		<img id="right" src="../images/logo_stylise.png" class="img-responsive center-block"/>
	</div>
	<div class="col-sm-12" style="padding-right: 30px;">
		<table id="tableProduitsConditionnes" class="table table-stripped">
			<thead>
				<tr>
					<th>Désignation</th>
					<th>Produit</th>
					<th>Conditionnement</th>
					<th>Prix</th>
					<th>en carte ?</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="produitConditionne in produitsConditionnes">
					<td style="display:none;" ng-model="idProduitConditionne">{{produitConditionne.idProduitConditionne}}</td>
					<td>{{produitConditionne.designation}}</td>
					<td>{{produitConditionne.produit}}</td>				
					<td>{{produitConditionne.conditionnement}}</td>				
					<td>{{produitConditionne.prixProdCond}}</td>				
					<td>{{produitConditionne.enCarte}}</td>		
					<td>
						<button class="btn btn-default"
							ng-click="modifier_produit_conditionne(produitConditionne.idProduitConditionne)">Modifier</button>
						<button class="btn btn-danger"
							ng-click="supprimer_produit_conditionne(produitConditionne.idProduitConditionne)">Supprimer</button>
					</td>						
				</tr>
			</tbody>
		</table>
	</div>
</body>
</html>