<!DOCTYPE html>
<html ng-app="storeApp">
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<title>Gestion des commandes</title>
	<link type="text/css" rel="stylesheet" href="../css/chezYenApp.css" />
	<link type="text/css" rel="stylesheet" href="../css/bootstrap.css" />
	<link type="text/css" rel="stylesheet" href="../css/bootstrap-theme" />
	<link type="text/css" rel="stylesheet" href="../css/header.css" />
	<script type="text/javascript" src="../js/jquery-2.2.0.js"></script>
	<script type="text/javascript" src="../js/angular.js"></script>
	<script type="text/javascript" src="../js/angular-route.js"></script>
	<script type="text/javascript" src="../js/gestion_produits.js"></script>
	<script type="text/javascript" src="../js/chezYenDirective.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
	
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css">
	<link type="text/css" rel="stylesheet" href="../css/gestion_commandes.css" />
</head>
<body ng-controller="StoreCtrl">
<body>
	<div id="chezYenBar">
		<img id="left" src="../images/logo_stylise.png" class="img-responsive center-block"/>
		<div id="center">
			<h3 style="color:#fff8d7;"><a style="color:#fff8d7;" href="../index.html">ACCEUIL</a> / GESTION COMMANDES</h3>
		</div>
		<img id="right" src="../images/logo_stylise.png" class="img-responsive center-block"/>
	</div>

	<div class="page-header" ng-hide="incompleteCount() == 0">
		<h1>
			nombre de commandes incomplètes <span class="label label-default"
				ng-class="warningLevel()"> {{incompleteCount()}} </span>
		</h1>
	</div>
	<div>
		<label>désignation</label><input type="text" class="form-control"
			ng-model="produitDesignation" /> <label>prix</label><input
			type="text" class="form-control" ng-model="produitPrix" /> <span
			class="input-group-btn">
			<button class="btn btn-default"
				ng-click="addNewTask2(tacheLibelle, tacheCategory)">Add product</button>
		</span>
	</div>
	<table class="table table-striped">
		<thead>
			<tr>
				<th>designation</th>
				<th>prix</th>
				<th>stock</th>
				<th>actions</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="produit in produits">
				<td>{{produit.designation}}</td>
				<td>{{produit.prix}}</td>
				<td>{{produit.stock}}</td>
				<td><button class="btn btn-default"
						ng-click="deleteTask(produit.id)">delete</button></td>
			</tr>
	</table>

</body>
</html>