@CHARSET "UTF-8";

.table-striped>tbody>tr:nth-child(even)>td, 
.table-striped>tbody>tr:nth-child(even)>th {
   background-color: #fff8d7;
 }
 
#tableProduitsConditionnes {
	min-width:600px;
 	-webkit-border-radius:25px;
    margin-top:10px;
} 

 thead {
 	color:#c7b988;
    border: 2px solid #fff8d7; 
 }