@CHARSET "ISO-8859-1";


#body {
	background-color: #0a0905;
}

#left {
    float:left;
    width:100px;
    padding-top:20px;
    padding-left:20px;
}

#center {
    display: inline-block;
    margin:0 auto;
  	vertical-align:middle;
  	margin-top:30px;
  	color:yellow;
}

#right {
    float:right;
    width:100px;
    padding-top:20px;
    padding-right:20px;
}

#panelNouveauClient{
	display:none;
	margin-top:10px;
	color:#fff8d7;
}

#nouveauClient {
	min-width:600px;
	background-color: #c7b988;
	color:#0a0905;
	-webkit-border-radius:25px;
    border-radius: 25px;
    border: 2px solid #c90016; 
}

.encadre {
	-webkit-border-radius:25px;
    border-radius: 25px;
    border: 2px solid #fff8d7;
    padding: 20px;
    margin-bottom:10px;
}

#tablesInlineBlock {
	display:inline-block;
}

#tablesBlock {
	display:block;
}

#firstRow {
	margin-top:50px;
}

.table-striped>tbody>tr:nth-child(even)>td, 
.table-striped>tbody>tr:nth-child(even)>th {
   background-color: #fff8d7;
 }
 
 #tableClients {	
 	min-width:600px;
 	-webkit-border-radius:25px;
    margin-top:10px;
 }
 
 thead {
 	color:#c7b988;
    border: 2px solid #fff8d7; 
 }