@CHARSET "ISO-8859-1";


#body {
	background-color: #0a0905;
}



#panelNouveauClient{
	display:none;
	margin-top:10px;
	color:#fff8d7;
}

#nouveauClient {
	min-width:600px;
	background-color: #c7b988;
	color:#0a0905;
	-webkit-border-radius:25px;
    border-radius: 25px;
    border: 2px solid #c90016; 
}

.encadre {
	-webkit-border-radius:25px;
    border-radius: 25px;
    border: 2px solid #fff8d7;
    padding: 20px;
    margin-bottom:10px;
}

#tablesInlineBlock {
	display:inline-block;
}

#tablesBlock {
	display:block;
}

#firstRow {
	margin-top:50px;
}

.table-striped>tbody>tr:nth-child(even)>td, 
.table-striped>tbody>tr:nth-child(even)>th {
   background-color: #fff8d7;
 }
 
 #tableClients {	
 	min-width:600px;
 	-webkit-border-radius:25px;
    margin-top:10px;
 }
 
 thead {
 	color:#c7b988;
    border: 2px solid #fff8d7; 
 }
 
 /* pop up de modification des données du client*/
 #fade { /*--Masque opaque noir de fond--*/
	display: none; /*--masqué par défaut--*/
	background: #000;
	position: fixed; left: 0; top: 0;
	width: 100%; height: 100%;
	opacity: .80;
	z-index: 9999;
}
.popup_block{
	display: none; /*--masqué par défaut--*/
	background: #fff;
	padding: 20px;
	border: 20px solid #ddd;
	float: left;
	font-size: 1.2em;
	position: fixed;
	top: 50%; left: 50%;
	z-index: 99999;
	/*--Les différentes définitions de Box Shadow en CSS3--*/
	-webkit-box-shadow: 0px 0px 20px #000;
	-moz-box-shadow: 0px 0px 20px #000;
	box-shadow: 0px 0px 20px #000;
	/*--Coins arrondis en CSS3--*/
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}
img.btn_close {
	float: right;
	margin: -55px -55px 0 0;
}
/*--Gérer la position fixed pour IE6--*/
*html #fade {
position: absolute;
}
*html .popup_block {
position: absolute;
}